@import "tailwindcss";
@config "../../tailwind.config.ts";

@theme {
  --font-inter: var(--font-inter);
  --font-cormorant: var(--font-cormorant);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  margin: 0;
  @apply font-inter;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
